.DS_Store
Cedar
FFire1992-2015.sqlite
GlobalLandTemperaturesByCity.csv
PreprocessingTemperatureData.py
QGIS
RDS-2013-0009.4_SQLITE
ca_fire.db
climate-change-earth-surface-temperature-data
data_preprocess.sh
fire_preprocess.py
fires.csv
fires_f.csv
ghcnd-stations.txt
historical-hourly-weather-data
historical-hourly-weather-data.zip
joindata.py
master_data.py
sqlpreprocessing.text
uscities.csv
uscities_og.csv
weather_preprocess.py
.open
Preprocessing/.DS_Store
Preprocessing/FPA_FOD_20170508.sqlite
Preprocessing/workspace
Preprocessing/raw_fires.csv
